/*--------------------------------------------------------------------------------------------
*
*	GLOBAL
*	
*--------------------------------------------------------------------------------------------*/

body {
	background: #1a1a1a;
	min-width:680px;
}

a:link,
a:visited {
	text-decoration: none;
	color: #a7aaac;
}

a:hover,
a:active {
	color: #e9de2a;
}

strong {
	color: #fff;
	font-weight: 800;
}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

hr {
	height: 1px;
	background: #4d4d4d;
	margin: 0 0 20px 0;
	border: none;
}

input[type=submit] {
	font-size: 0;
	line-height: 0;
	cursor: pointer;
}

/* Central content holder */
.container {
	width: 680px;
	margin: 0 auto;
	padding: 40px 0;
	text-align:center;
}

/* Larger content holder for popup areas and header */
.larger-container {
	width: 970px;
	margin: 0 auto;
	position: relative;
}

/* Adds top and bottom borders: Used for divs wrapping h2 areas */
.border {
	border-top: #4d4d4d 1px solid;
	border-bottom: #4d4d4d 1px solid;
}

/* h2 should be centered by default within a border element */
.border h2 {
	text-align: center;
}

/* General Wrapper for good measure */
.wrapper {
	position: relative;
	width: 100%;
}
.wrapper h3{
	margin-top:20px;
}

/* Rounded Corner Classes */
.round-corners {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* future proofing */
	-khtml-border-radius: 6px; /* for old Konqueror browsers */
}

.round-top-corners {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

.round-bottom-corners {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}


.socialise span {
	margin-left:-2px;
	opacity:0;
}


/*--------------------------------------------------------------------------------------------
*
*	Sprite Sheet
*	
*--------------------------------------------------------------------------------------------*/

.sprite-sheet {
	background: url('../images/sprite_sheet.png') no-repeat 0 0;
}

.sprite-sheet.icon-facebook,
.sprite-sheet.icon-twitter,
.sprite-sheet.icon-linkedin,
.sprite-sheet.icon-email,
.sprite-sheet.icon-pin {
	height: 16px;
	width: 16px;
	display:block;
	font-size:0;
}

/* facebook */
.sprite-sheet.icon-facebook {
	background-position: -200px 0;
}

.sprite-sheet.icon-facebook:hover {
	background-position: -200px -50px;
}

/* Twitter */
.sprite-sheet.icon-twitter {
	background-position: -100px 0;
}

.sprite-sheet.icon-twitter:hover {
	background-position: -100px -50px;
}

/* LinkedIn */
.sprite-sheet.icon-linkedin {
	background-position: -150px 0;
}

.sprite-sheet.icon-linkedin:hover {
	background-position: -150px -50px;
}

/* Pin */
.sprite-sheet.icon-pin {
	background-position: -100px -22px;
}

.sprite-sheet.icon-pin:hover {
	background-position: -150px -22px;
}

/* Mail */
.sprite-sheet.icon-email {
	background-position: -126px -22px;
}

.sprite-sheet.icon-email:hover {
	background-position: -176px -22px;
}

/* Back To Top */
.sprite-sheet.icon-back-to-top {
	width: 78px;
	height: 34px;
	background-position: -100px -100px;
}

.sprite-sheet.icon-back-to-top:hover {
	background-position: -200px -100px;
}

/* Arrow Right */
.sprite-sheet.icon-arrow-right {
	background-position: -350px 0;
	height: 11px;
	width: 7px;
	display: block;
	float: left;
	margin: 0 5px 0;
	vertical-align: middle;
}

.sprite-sheet.icon-arrow-right:hover {
	background-position: -350px -50px;
}

a:hover i.sprite-sheet.icon-arrow-right {
	background-position: -350px -50px;
}

/* Arrow Left */
.sprite-sheet.icon-arrow-left {
	background-position: -400px 0;
	height: 11px;
	width: 7px;
	display: block;
	float: left;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.sprite-sheet.icon-arrow-left:hover {
	background-position: -400px -50px;
}

a:hover i.sprite-sheet.icon-arrow-left {
	background-position: -400px -50px;
}

/* Arrow Up */
.sprite-sheet.icon-arrow-up {
	background-position: -240px 25px;
	height: 40px;
	width: 40px;
	float: left;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 0;
}

.sprite-sheet.icon-arrow-up:hover {
	background-position: -240px -25px;
}

/* Arrow Down */
.sprite-sheet.icon-arrow-down {
	background-position: -281px 26px;
	height: 40px;
	width: 40px;
	float: left;
	padding: 10px;
	position: absolute;
	left: 60px;
	top: 0;
}

.sprite-sheet.icon-arrow-down:hover {
	background-position: -281px -24px;
}

/* Close Button */
.sprite-sheet.icon-close {
	background-position: 26px -46px;
	height: 20px;
	width: 20px;
	float: right;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 20px;
}

.sprite-sheet.icon-close:hover {
	background-position: -24px -46px;
}

/*--------------------------------------------------------------------------------------------
*
*	Columns default
*	
*--------------------------------------------------------------------------------------------*/

.row {
    padding: 0 0 20px;
    position: relative;
    width: 100%;
}
.row + hr {
    margin-top: 0;
}
.column {
    float: left;
}
.column.one {
    margin-right: 20px;
    width: 213px;
}
.column.two {
    margin-right: 20px;
    width: 330px;
}
.row .column:last-child {
    margin-right: 0;
}

.column-content {
	position: relative;
	width: 700px;
	margin-left: 10px;
}
.column-content hr {
	float: left;
	width: 680px;
}
.column-content .column {
	float: left;
	margin: 10px;
}
.column-content .column-full {
	width: 680px;
}
.column-content .column-half {
	width: 330px;
}
.column-content .column-third {
	width: 213px;
	margin:10px 10px 10px 0;
}
.column-content .column-full img {
	width: 680px;
}
.column-content .column-half img {
	width: 330px;
}
.column-content h3, .container h3{
	text-align: center;
}

/*--------------------------------------------------------------------------------------------
*
*	Header
*	
*--------------------------------------------------------------------------------------------*/

#header_wrap {
	height: 10px;
	border-bottom: #6e6a67 1px solid;
	background:#C42505;
	z-index: 2;
	text-transform: uppercase;
	font-size: 0.875em;
	position: fixed;
	top: 0;
}

#header_wrap .inside {
	position: relative;
}

#header_wrap a {
	color: #fff;
	font-weight: normal;
}

#header_wrap a:hover,
#header_wrap a:active {
	color: #e9de2a;
}

#header_wrap .larger-container {
	padding: 0;
	position: relative;
}

#header_wrap a#company_logo {
	width: 66px;
	height: 30px;
	display: block;
	margin-top: 20px;
	position: absolute;
	left: 50%;
	margin-left: -33px;
}

#header_wrap ul#page_navigation {
	float: left;
	/*margin-right: 50px;*/
	padding: 35px 0 0;
	/*width:46.5979382%;*/
	width:auto;
	display:block;
}

#header_wrap ul#page_navigation li {
	margin: 0 15px 0 0;
}

#header_wrap ul#social_navigation {
	float: right;
	margin-left: 0;
	padding: 30px 0 0;
	/*width:46.5979382%;*/
	width:auto;
	text-align:right;
}

#header_wrap ul#social_navigation li a.sprite-sheet {
	margin-top: -4px;
}

ul.social-list li {
	margin-left: 15px;
	display:inline-block;
	float:none;
}

/*--------------------------------------------------------------------------------------------
*
*	Hero Slider
*	
*--------------------------------------------------------------------------------------------*/

#hero {
	top: 0;	
	padding: 10px 0 0;
	position: fixed;
	z-index: -1;
	height: 100%;
	opacity: 0;
}

#hero #hero_map {
	position: absolute;
	width: 100%;
	height: 100%;
}

#hero .slides {
	position: relative;
	cursor: pointer;
}

#hero .slides .slide {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	z-index: 1;
	opacity: 0;
}

#hero .slides .slide.last-active {
	z-index: 2;
	opacity: 1;
}

#hero .slides .slide.active {
	z-index: 3;
	opacity: 1;	
}

#hero .slides .slide img {
	height: auto; 
	width: 100%;
}

#hero_loading {
	height: 75px;
	width: 75px;
	background: url('../images/slider_loader.gif') 50% 50% no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -38px 0 0 -38px;
	z-index: -2;
}

/*--------------------------------------------------------------------------------------------
*
*	Search Form & Email Opt In Form
*	
*--------------------------------------------------------------------------------------------*/

form#search_form,
form#email_opt_in_form {
	width: 264px;
	height: 33px;
	background-position: 0 -150px;
}

form#search_form input#search_query,
form#email_opt_in_form input.email_address {
	background: transparent;
	float: left;
	width: 210px;
	color: #fff;
}

form#search_form input#submit_search,
form#email_opt_in_form input#submit_email {
	height: 33px;
	width: 33px;
	border: none;
	position: absolute;
	right: 0;
}

/* Search Button */
form#search_form input#submit_search {
	background-position: -287px -93px;
}

form#search_form input#submit_search:hover {
	background-position: -287px -143px;
}

/* Email Button */
form#email_opt_in_form input#submit_email {
	background-position: -330px -93px;
}

form#email_opt_in_form input#submit_email:hover {
	background-position: -330px -143px;
}

form#search_form label,
form#email_opt_in_form label,
form#search_form input#search_query,
form#email_opt_in_form input.email_address {
	font-size: 1.2em;
	color: #8d8b8c;
	margin: 0 0 0 10px; 
}

form#search_form {
	padding-bottom: 80px;
}

.search-results .article {
	border: none;
	margin: 0;
}

.search-results > .article:last-child {
	padding: 0;
}

.search-results > h2 {
	font-family: 'LeituraDisplay-Roman', serif;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	padding: 0 0 30px 0;
	font-weight: normal;
}


/*--------------------------------------------------------------------------------------------
*
*	All Other Styles
*	
*--------------------------------------------------------------------------------------------*/

#super_wrapper {
	background: #C42505;
	z-index: 10;
	/*margin: 500px 0 0;*/
	overflow: hidden;
	margin: 70px 0 0;
	width:100%;
}

#super_wrapper h2 a {
	display: block; 
	padding: 20px 0;
	color: #fff;
}

#super_wrapper h2:not(.toggle) a:hover,
#super_wrapper h2:not(.toggle) a:active {
	color: #e9de2a;
	background: #C42505;
}


/* Rotator is the textual slider on the home page */
#rotator_wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0 0 30px 0;
}

#rotator_wrapper .slides {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000%;
}

#rotator_wrapper .slides .slide {
	width: 10%;
	float: left;
}

#rotator_wrapper .navigation {
	width: 100%;
	position: absolute;
	bottom: 30px;
	left: 0;
}

#rotator_wrapper .navigation ul li {
	margin: 0 2px;
}

#rotator_wrapper .navigation ul li a {
	background: url('../images/sprite_sheet.png') no-repeat 0 -100px;
	width: 11px;
	height: 10px;
}

#rotator_wrapper .navigation ul li.active a {
	background-position: -50px -100px;
}

#section-contact h4 {
	margin-bottom: 20px;
	color: #4e4e4e;
}

#section-contact strong {
	color: #a7aaac;
	font-size: 13px;
}

#section-contact a {
	color: #fff;
}

/* List Links with arrow icons */
ul.link-listing {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.link-listing li {
	float: left;
	padding: 0 0 0 10px;
	background: url('../images/sprite_sheet_right_arrow.png') no-repeat 0 4px;
}

ul.link-listing li:hover {
	background-position: 0 -46px;
}

/* List links on news page(s) */
.news-page ul.link-listing {
	width: 435px;
}

.news-page ul.link-listing li {
	margin: 0 0 15px;
    width: 135px;
}

/*--------------------------------------------------------------------------------------------
*
* Tiles
*	
*--------------------------------------------------------------------------------------------*/

.tiles-wrapper {
	padding: 0;
	position: relative;
	width:1280px;
	margin:0 auto;
}

.tiles-wrapper .tile {
	float: left;
	width: 250px;
	position: relative;
	margin: 0 80px 60px 80px;
}

.tiles-wrapper .tile .inner {
	padding: 1px;
	text-align: center;
}

.tiles-wrapper .tile .inner img {
	height: auto; 
	width: 100%;
}

.tiles-wrapper .tile:hover .inner .tile-hover {
	display: block;
}

.tiles-wrapper .tile:hover .inner .tile-hover p{
	margin: 0;
	line-height: 1;
}

.tiles-wrapper .tile .inner .tile-hover {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.tiles-wrapper .tile .inner .tile-hover a {
	display: block;
	color: #e9de2a;
	position: absolute; 
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
}

.tiles-wrapper .tile .inner .tile-hover a span {
	bottom: 18%;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.tiles-wrapper .tile .tile-inner {
	padding: 80px 15px;
}

.tiles-wrapper .tile .tile-inner h5 {
	color: #fff;
	/*font-size: 1.2em;*/
	position:absolute;
	top:0;
	text-align:center;
	display:block;
	width:90%;
	padding:0 5%;
	left:0;
	margin: 50px 0 20px;
}

.tiles-wrapper .tile .tile-inner .icon-close{
	background-position: -50px -50px;
    display: inline-block;
    float: none;
    height: 14px;
    left: 50%;
    margin: -7px 0 0 -7px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 14px;
}


/*--------------------------------------------------------------------------------------------
*
*	Team Members
*	
*--------------------------------------------------------------------------------------------*/

#the-team { height: auto; }

.people_list { overflow: hidden; }

.tiles-wrapper.people_list .tile:hover .inner .tile-hover .tile-inner a,
.tiles-wrapper#work_thumbnails .tile:hover .inner .tile-hover .tile-inner a,
.tiles-wrapper#home_list .tile:hover .inner .tile-hover .tile-inner a {
	/*font-size: 1.2em;*/
	text-transform: uppercase;
	font-weight: normal;
}

.tiles-wrapper.people_list .tile:hover .inner .tile-hover .tile-inner a:hover,
.tiles-wrapper.people_list .tile:hover .inner .tile-hover .tile-inner a:active {
	color: #e9de2a;
}

.tiles-wrapper.people_list .tile:hover .inner .tile-hover .tile-inner h5 {
	color: #cecdcc;
	margin: 50px 0 20px;
	text-transform: uppercase;
}

.tiles-wrapper.people_list .tile:hover .inner .tile-hover .tile-inner h5,
.tiles-wrapper#work_thumbnails .tile:hover .inner .tile-hover .tile-inner h5,
.tiles-wrapper#home_list .tile:hover .inner .tile-hover .tile-inner h5 {
	color: #fff;
}

.tiles-wrapper.people_list .tile:hover .inner .tile-hover .tile-inner p {
	margin: 0;
	line-height: 1em;
}

/* The div that fades in with person information */
#tiles_overlay_wrapper {
	background: rgba(0,0,0,0.9);
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0;
	overflow: hidden;
}

#tiles_overlay_wrapper .actions {
	z-index: 1;
}

/* Profile Columns */
.people_list .profile {
	position: absolute;
	display: none;
	padding-top: 60px;
}

.people_list .profile .twitter-feed p {
	margin: 0 0 10px 0;
}

.people_list .profile .twitter-feed small {
	/*font-size: 0.8em;*/
}

.people_list .profile .column.one {
	width: 330px;
}

.people_list .profile .column.one img {
	max-width: 100%;
}

.people_list .profile .column.two {
	width: 620px;
	margin-right: 0;
}

/* now redundant */
.people_list .profile .column.three {
	width: 180px;
}

/*--------------------------------------------------------------------------------------------
*
*	News
*	
*--------------------------------------------------------------------------------------------*/

.article {
	padding: 0 0 30px;
	border-bottom: #fff 1px solid;
	margin: 50px 0 0;
	text-align: left;
}

iframe, object{
	width:100%;
	height:380px;
}

.article:first-child {
	margin: 0;
}

.article:last-child {
	padding: 0;
}

.article .head {
	border-bottom: #4d4d4d 1px solid;
	padding: 0 0 30px;
	text-align: center;
}

.article .head h3 a {color: #fff;}

.article .body h4 {
	font-family: "Gotham Narrow", Gotham Narrow, Gotham, Helvetica, sans-serif;
	color: #fff;
	font-style: normal;
}

.article .body {
	padding: 30px 0 0;
}

p.read-more-link {
	text-align: right;
	/*font-size: 12px;*/
	line-height: 12px;
	height: 12px;
}

p.read-more-link a {
	float: right;
}

/* Blog Footer for next and previous links */
.blog-list-footer {
	padding-top: 20px;
	text-align: center;
}

.blog-list-footer p {
	/*font-size: 1.1em;*/
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 1.1em;
}

/* Exceptional circumstance for arrow position as per design */
.blog-list-footer a i.sprite-sheet.icon-arrow-right {
	float: right; 
	margin: 0 0 0 5px;
}

/*--------------------------------------------------------------------------------------------
*
*	Accordion
*	
*--------------------------------------------------------------------------------------------*/

.mask {
	height: 0px;
	overflow: hidden;
	font-size: 12px;
}

.mask h3 {
	color: #4e4e4e !important;
	margin: 0 0 25px 0;
	font-size: 14px;
}

.popup-options .mask .column.one{
	width: 150px;
}

.popup-options .mask .column.two{
	width: 800px;
	margin: 0;
}

.sort-by-links{
	padding: 0;
}
.sort-by-links li{
	list-style: none;
}
.sort-by-links li:before{
	content: "/ ";
}

.sort-by-links.horizontal li{
	display: inline-block;
	width: 155px;
}


/*--------------------------------------------------------------------------------------------
*
*	Popup Options
*	
*--------------------------------------------------------------------------------------------*/

.popup-options {
	position: fixed;
	bottom: 0; 
	left: 0;
	width: 100%;
	background: #1A1A1A;
	z-index: 2;
}

.popup-options .mask .larger-container {
	padding: 20px 0;
	position: relative;
}

.popup-options .mask .larger-container h3 {
	text-align: left;
}

/* Link Listing */
.popup-options .mask .larger-container ul.link-listing li {
	margin: 0 35px 10px 0;
	width:80px;
}

/* Popup Option Columns */
.popup-options .column {
	float: left;
}

.popup-options .column.one {
	width: 110px;
}

.popup-options .column.two {
	width: 400px;
}


/*--------------------------------------------------------------------------------------------
*
*	Project
*	
*--------------------------------------------------------------------------------------------*/

.project { padding: 20px 0; }

.project .hl li {
	margin-right:10px;
}

.project h3 {
	font-family: "Gotham Narrow", Gotham Narrow, Gotham, Helvetica, sans-serif;
	color: #fff;
	font-style: normal;
	/*font-size: 2.1em;*/
	line-height: 1.2em;
	font-weight: 600;
	text-align: left;
}

.project h4 {
	color: #4e4e4e !important;
	/*font-size: 1.7em;*/
	/*font-style: italic;*/
	margin: 0 0 20px 0;
}

/* Project Columns */
.project .column.one {
	width: 75%;
	padding-right: 5%;
}

.project .column.two {
	width: 170px;
}

.project.last-active {
	z-index: 2;
	opacity: 1;
}

.project.active {
	z-index: 3;
	opacity: 1;	
}

.project blockquote{
}
.project blockquote * {
	color:#666;
	font-size:20px;
	line-height:28px;
	font-family: 'Motiva Light', Helvetica, Arial, sans-serif;
	font-style:normal;
	margin:0;
	text-transform: none;
}
.project blockquote p{
	font-size:14px;
	line-height: 100%;
	margin:10px 0 0 0;
}


/*--------------------------------------------------------------------------------------------
*
*	Tool Tip
*	
*--------------------------------------------------------------------------------------------*/

.tool-tip {
	display: block;
	visibility: hidden;
	background: white;
	border: 1px solid black;
	color: #1a1a1a;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size:12px!important;
	z-index: 4;
	font-size: 1.3em;
	margin: -30px 0 0 10px;
	padding: 5px;
	-webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0s linear 0.5s;
	-moz-transition: opacity 0.5s ease-in-out 0s, visibility 0s linear 0.5s;
	-o-transition: opacity 0.5s ease-in-out 0s, visibility 0s linear 0.5s;
	-ms-transition: opacity 0.5s ease-in-out 0s, visibility 0s linear 0.5s;	
	transition: opacity 0.5s ease-in-out 0s, visibility 0s linear 0.5s;
}

.tool-tip.active {
	visibility: visible;
	opacity: 1;
	
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	-ms-transition:0s;
	transition-delay:0s;
}

/*--------------------------------------------------------------------------------------------
*
*	Footer
*	
*--------------------------------------------------------------------------------------------*/

#footer_wrap {
	background: #C42505;
	/*border-top: #6e6a67 1px solid;*/
	z-index: 3;
}

#footer_wrap a {
	color: #fff;
	font-weight: normal;
}

#footer_wrap a:hover,
#footer_wrap a:visited {
	color: #fff;
}

#back_to_top a {
	margin: 20px auto;
}

/*--------------------------------------------------------------------------------------------
*
*	Other Styles
*	
*--------------------------------------------------------------------------------------------*/

#shadow {
	width: 100%;
	height: 51px;
	position: fixed;
	background: url('../images/shadow.png') repeat-x 0 0 transparent;
	bottom: 0;
	z-index: 4;
}

/* Shadow above popup options */
.popup-options #shadow {
	position: absolute;
	top: -52px;
}

h2 .sub-text {
	color: #4e4e4e !important;
	font-size: 0.8em;
	/*font-style: italic;*/
}


/*--------------------------------------------------------------------------------------------
*
*	iPad media query
*	
*--------------------------------------------------------------------------------------------*/

@media all and (device-width: 768px) and (device-height: 1024px) {
	
	body, .larger-container{
		width: 100%;
	}

	.container{
		width:100%;
	}

	.column-content{
		margin: 0 auto;
	}

	.article, .article:first-child, .blog-list-footer, .studio-page .wrapper, #super-wrapper .project.more-info-block{
		width: 80%;
		margin: 0 auto;
	}

	.people_list .profile{
		left: 50%;
		margin-left: -400px;
	}
	.people_list .profile .column.two{
		width: 560px !important;
	}

	.news-page .article{
		margin-top: 50px;
	}

	h2.toggle a{
		margin: 0 25px;
	}

	/* Reduce Large Container Width */
	.larger-container {
		width: 90%;
	}

	#header_wrap ul#page_navigation, #header_wrap ul#social_navigation{
		font-size: 18px;
		padding-top: 25px;
	}
	#page_navigation{
		margin-left: 20px;
	}
	#social_navigation{
		margin-right: 20px;
	}
	
	/* Adjust elements to fit on the one line */
	/*#header_wrap ul#page_navigation {
		width: 347px;
	}*/
	
	/* Column Adjustments: Popup options (work listing) */
	.popup-options .column.one {
		width: 90px;
	}
	
	.popup-options .column.two {
		width: 270px;
	}
	
	/* Column Adjustments: Blog */
	.news-page ul.link-listing {
		width: 415px;
	}
	
	.news-page ul.link-listing li {
		margin-right: 20px;
	}
	
	/* Column Adjustments: Profiles */
	.people_list .profile .column.one {
		width: 200px;
	}
	
	.people_list .profile .column.two {
		width: 290px;
	}
	
	.people_list .profile .column.three {
		width: 150px;
	}
	
	/* Column Adjustments: Work */
	.project .column.one {
		width: 670px;
		padding: 0;
	}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	
}

/*Browser less than 970px in width*/
@media only screen and (max-width:970px){
	.larger-container{
		width:100%;
		min-width:680px;
	}
	#page_navigation{
		margin-left:20px;
	}
	#social_navigation{
		margin-right:20px;
	}
	.container{
		padding:0 20px;
	}
}


.project ul.link-listing li {
	float: none;
}
