/*--------------------------------------------------------------------------------------------
*
*	Webfonts
*	
*--------------------------------------------------------------------------------------------*/

/*@font-face {
	font-family: 'AauxNext-Black';
	src: url('fonts/22125D_0_0.eot');
	src: url('fonts/22125D_0_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/22125D_0_0.woff') format('woff'),
	url('fonts/22125D_0_0.ttf') format('truetype');
}  

@font-face {
	font-family: 'AauxNext-Medium';
	src: url('fonts/22125D_1_0.eot');
	src: url('fonts/22125D_1_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/22125D_1_0.woff') format('woff'),
	url('fonts/22125D_1_0.ttf') format('truetype');
} */

 /*@font-face {font-family: 'LeituraDisplay-Swashes';src: url('webfonts/231A06_0_0.eot');src: url('webfonts/231A06_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231A06_0_0.woff') format('woff'),url('webfonts/231A06_0_0.ttf') format('truetype');}
 @font-face {font-family: 'LeituraDisplay-Roman';src: url('webfonts/231A06_1_0.eot');src: url('webfonts/231A06_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231A06_1_0.woff') format('woff'),url('webfonts/231A06_1_0.ttf') format('truetype');}  
 @font-face {font-family: 'LeituraDisplay-Italic';src: url('webfonts/231A06_2_0.eot');src: url('webfonts/231A06_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231A06_2_0.woff') format('woff'),url('webfonts/231A06_2_0.ttf') format('truetype');}*/

/*
 @font-face {font-family: 'Dhsjsjs';src: url('webfonts/231A06_0_0.eot');src: url('webfonts/231A06_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231A06_0_0.woff') format('woff'),url('webfonts/231A06_0_0.ttf') format('truetype');}
 @font-face {font-family: 'LeituraDisplay-Roman';src: url('webfonts/231A06_1_0.eot');src: url('webfonts/231A06_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231A06_1_0.woff') format('woff'),url('webfonts/231A06_1_0.ttf') format('truetype');}  
 @font-face {font-family: 'LeituraDisplay-Italic';src: url('webfonts/231A06_2_0.eot');src: url('webfonts/231A06_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231A06_2_0.woff') format('woff'),url('webfonts/231A06_2_0.ttf') format('truetype');}
 */

@font-face{
	font-family: 'Motiva Light';
}

@font-face{
	font-family: 'Motiva Medium';
}

@font-face{
	font-family: 'Motiva Thin';
}

/*--------------------------------------------------------------------------------------------
*
*	General
*	
*--------------------------------------------------------------------------------------------*/

.clear{ clear: both; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

.hl { padding: 0; margin: 0; list-style: none; display: block; position: relative; }
.hl li { float: left; display: block; margin: 0; padding: 0; }

.hl.center { position: relative; overflow: visible; left: 50%; float: left; }
.hl.center > li { position: relative; left: -50%; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

body {
	font: 13px/23px 'Motiva Light', Helvetica, Arial, sans-serif;
	color: #e5e5e5;
}

/* Selection Highlights */
::-moz-selection { background:#C42505; color: #fff; text-shadow: none; }
::selection { background:#C42505; color: #fff; text-shadow: none; }


/*--------------------------------------------------------------------------------------------
*
*	TYPOGRAPHY
*	
*--------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Motiva Light', Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.3em;
}

h1, h2 {
	font-size: 15px;
	color: #cbcbcb;
}

h3 {
	font-size: 18px;
	color: #fff;
	font-weight:100;
	margin: 0 0 15px;
	letter-spacing: 0.06em;
	font-family: 'Motiva Thin', Helvetica, Arial, sans-serif;
}

h4 {
	font-size: 13px;
	color: #666;
}

h5{
	font-family: 'Motiva Light', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 23px;
	margin: 15px 0;
	color: #666;
	letter-spacing: 0.06em;
}

/*
p, li, td, th {
	color: #e5e5e5;
	font: 13px/23px 'Motiva Light', Helvetica, Arial, sans-serif;
}
*/

p {
	margin: 0 0 15px;
}

strong {
	font-size: 1.3em;
}

small {
	font-size: 1em;
}

a {
	text-decoration: underline;
	color: #007dba;
}

a:hover {
	text-decoration: underline;
}

blockquote p {
	font-size: 1.5em;
	line-height: 1.2em;
	color: #007dba;
}

img {
	display: block;
}

/*--------------------------------------------------------------------------------------------
*
*	Lists
*	
*--------------------------------------------------------------------------------------------*/

ul {
	list-style:outside disc;
	padding-left:14px;
	margin: 0 0 20px;
}

ol {
	list-style:outside disc;
	padding-left:14px;
}

li {
	line-height: 1.3em;
	margin: 0 0 0.7em;
}


/*--------------------------------------------------------------------------------------------
*
*	Tables
*	
*--------------------------------------------------------------------------------------------*/

table,tr,td,th {
	vertical-align: top;
}

table {
	width:100%;
	margin: 20px 0;
}

table {
	
}

table th {
	
}

table tbody tr:hover td {
	
}

td,th {
	padding: 5px 10px;
	font-size: 1.1em;
}

th {
	
}


/*--------------------------------------------------------------------------------------------
*
*	Forms
*	
*--------------------------------------------------------------------------------------------*/

form {
	display: block;
	position: relative;
}

form .field {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

form label {
	position: absolute;
	color: #666;
	font-size: 11px;
	top: 7px;
	left: 7px;
	cursor: text;
	z-index: 99;
}

form input[type="text"] {
	display: block;
	resize: none;
	border: 0 none;
	padding: 7px;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 11px;
	line-height: 15px;
	outline: none;
}

form textarea {
	display: block;
	resize: none;
	border: 0 none;
	padding: 7px;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 11px;
	line-height: 15px;
	outline: none;
}

form input[type="submit"] {

}

form input[type="submit"]:hover {

}
